body{
    font-family: "Nimbus Sans Narrow";
}
.openingImage{
    height: 200px;
}
.logoImage{
    height: 200px;
}
.openingText{
    color: #d7353a;
    font-size: 1.2rem;
}
.toolsImage{
    float: right;
}
.whatWeDO{
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em #333;
}
.quote{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2.5rem;
}
.phoneNumber{
    font-size: 2.5rem;
    text-shadow: 0.1em 0.1em #333;
}
@media (min-width: 650px) {
    .openingText{
        position: absolute;
        top: 35%;
    }
}
